/* @media (max-width: 768px) {
    .container {
        width: 90%;
        
    }

.header a  {
  display: none;
}
.txt img {
width: 200px;

}
.jim button {
    width: 50px;
}
.min h1 {
    font-size: 29px;
}
.min p {
    font-size: 15px;
}

} */