@media (max-width: 768px) {
    .container {
        width: 90%;
        
    }

.header a  {
  display: none;
}
.txt img {
width: 200px;

}
.jim button {
    width: 50px;
}
.min h1 {
    font-size: 29px;
}
.min p {
    font-size: 15px;
}

.one h2 {
    font-size: 10px;
}
.start a {
    font-size: 5px;
}
.jim button {
    font-size: 5px;
}
.min h1 {
    font-size: 30px;
    width: 250px;
}
.min p {
    font-size: 10px;
}
}