* {
    padding: 0;
    margin: 0;
}
.container {
    width: 1300px;
    margin: 0 auto;
}

body {
    background: #F6F6F6;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: 0;
}

.header {
    padding: 20px 0 ;
    background: #16522d;;
    border: none;
    width: 1300px;
    border-radius: 50px 50px 0 0 ;
}
.one h2 {
    color: #FFF;
font-size: 20px;
font-weight: 700; 
}
.start a {
    color: #FFF;
font-size: 15px;
font-weight: 500;
}
.start a:hover {
    color: rgb(114, 114, 233);
    border-bottom: #FEFEFE solid 3px;
    transform: scale(1.1);
}
.start  {
display: flex;
gap: 40px;
cursor: pointer;
}
.start-end {
cursor: pointer;
}
.start-end  a {
    color: #FFF;
font-size: 15px;
font-weight: 500;
margin: 0 20px;
}

.meet {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.start-end button {
    color: #FFF;
font-size: 15px;
font-weight: 500;
width: 128px;
height: 49px;
border-radius: 100px;
transition: 1s;
cursor: pointer;
background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFF;
}
.start-end button:hover {
    color: rgb(238, 59, 0);
    background: #3e875a;
transform: scale(1.1);
}
.hero {
    position: relative;
    background: #16522d;
   width: 1300px;
height: 855px;

}
.txt {
    position: absolute;
    width: 640px;
    left: 750px;
height: 827px;
transform: translateY(50px);
}
.jim {
    position: absolute;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    padding: 80px 0 50px 70px;
}

.jim button {

    color: #FFF;
font-size: 18px;
font-weight: 500;
width: 227px;
height: 50px;
border-radius: 15px;
background: rgba(255, 255, 255, 0.25);
cursor: pointer;
border: 0;
}
.jim button:hover {
    color: red;
    transform: scale(1.1);
    background: green;
}
.min {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.min h1 {
    color: #FFF;
font-size: 55px;
font-weight: 600;
margin: 40px 0;
}
.min p {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    opacity: 0.5;
    width: 519px;
    margin: 10px 0 50px 0  ;
}
.min button {
    color: #FEFEFE;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 263px;
height: 91px;
border: 0;
border-radius: 27px;
background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%);
}
.active {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 140px;
    margin: 100px 90px;
}
.ab h2 {
    color: #0F1F1C;
font-family: Poppins;
font-size: 55px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.ab p {
    color: #0F1F1C;
font-size: 22px;
font-weight: 500;
opacity: 0.5;
}
.cd {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 50px;
   margin: 40px 0;
}
.cd img {
    width: 142px;
height: 142px;
background: rgb(216, 138, 20);
border-radius: 50%;
}
.cd h4 {
    color: #0F1F1C;
    font-size: 33px;
    font-weight: 500;
}
.cd  p {
    color: #0F1F1C;
font-size: 25px;
font-weight: 400;
opacity: 0.5;
}
.star  span {
    width: 120px;
    height: 120px;
    font-size: 60px;
  color:  #C4C4C4;
 transition: 1s;
    cursor: pointer;
}
.star span:hover {
    color: yellow;
    transform: scale(1.1);

}
.box {
    width: 1240px;
height: 581px;
border-radius: 60px;
background: #FFF;
}

.box h1 {
    color: #0F1F1C;
text-align: center;
font-size: 45px;
font-weight: 500;
}
.box p {
    color: #0F1F1C;
text-align: center;
font-size: 30px;
font-weight: 400;
margin: 50px 0;
}
.box button {
    color: #FFF;
font-size: 20px;
font-weight: 600;
width: 225px;
border: 0;
margin: 0 0 0 140px;
height: 79px;
border-radius: 27px;
background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%);
cursor: pointer;
transition: 1s;
}
.box button:hover {
    color: black;
    background: plum;
    transform: scale(1.1);
}
.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;

}
.milka h1 {
    color: #0F1F1C;
text-align: center;
font-size: 55px;
font-weight: 600;
padding-top: 150px;
}
.cream input {
    position: relative;
    transform: translateX(250px);
   padding: 0 0 0 50px;
    color: #0F1F1C;
font-size: 24px;
align-items: center;
font-weight: 500;
    width: 800px;
height: 129px;
border: 0;
border-radius: 35px;
margin: 50px 0;
background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #C4C4C4;
}
.cream button {
    position: absolute;
    transform: translateX(-70px);
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    width: 300px;
    border: none;
height: 105px;
margin: 60px 0;
border-radius: 35px; 
cursor: pointer;
background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFF;
}


.min h3 {
    color: #FF7C4E;
font-size: 20px;
font-weight: 700;
}
.purple a {
    color: #0F1F1C;
font-size: 15px;
font-weight: 500;
opacity: 0.5;
margin: 0 40px;
}
.purple a:hover {
    color: rgb(8, 8, 235);
    border-bottom: rgb(0, 225, 225) solid 3px;
    transform: scale(1.1);
}
.flower a {
    color: #838B89;
font-size: 15px;
font-weight: 500;

}
.flower {
    margin: 0 50px;
}
.flower button {
    color: #FFF;
font-size: 15px;
font-weight: 500;
width: 128px;
cursor: pointer;
height: 49px;
border-radius: 100px;
transition: 1s;
background: linear-gradient(0deg, #FF7C4E 0%, #FF7C4E 100%), #C4C4C4;
}
.flower button:hover {
    color: #0F1F1C;
    background: plum;
    transform: scale(1.1); 
}

.purple {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.purple h3 {
 margin: 0 250px 0 20px;
}








@media (max-width: 768px) {
    .container {
        width: 90%;
        border: none;
    }
    .header {
        width: 700px;
      
    }
    .start-end button {
        width: 60px;
        height: 23px;
        border: 0;
    }
.hero {
    width: 700px;
    height: 450px;
}
.header a  {
  display: none;
}
.txt img {
  position: absolute;
  right: 710px;
  transform: translateY(-25px);
width: 290px;

}
.jim button {
    width: 130px;
    height: 35px;
   font-size: 12px;
   margin: -50px 0 -10px;
}
.min h1 {
font-size: 28px;
}
.min p {
font-size: 15px;
margin: -30px 0 20px ;
}
.min button {
font-size: 14px;
width: 150px;
height: 40px;
margin: 20px 0;
}
.active {
    margin: 0 -60px ;
}
.ab {
    margin: 60px 0 0 -90px;
}
.active img {
width: 300px;
height: 300px;
margin: 40px 0 0 80px;
}
.ab h2 {
font-size: 25px;
}
.cd {
    margin: -20px 0 20px -100px;
}
.cd img {
    margin: 20px 0 0 100px;
 width: 55px;
 height: 50px;
}
.cd h4 {
font-size: 16px;
padding-top: 20px;
}
.cd p {
font-size: 12px;
}
.ab p {
font-size: 11px;
}
.star span {
width: 60px;
font-size: 20px;
height: 60px;
}
.box h1 {
    padding-top: 30px;
 font-size: 20px;
}
.box p {
    margin: 30px 0;
font-size: 15px;
}
.box button {
    margin: 0 0 0 80px;
font-size: 10px;
height: 39px;
width: 110px;
}
.music {
    position: absolute;
    transform: translateY(-150px);
}
.box {
margin: 50px 0 ;
width: 700px;
height: 150px;
}
.ice {
width: 700px;
height: 50px;
}
.milka h1{
margin: -100px 0 50px 0;
/* position: absolute; */
/* transform: translateY(-50px); */
 font-size: 25px;
}
.cream input {
 font-size: 12px;
margin: 0  0  0 -240px;
 width: 600px;
 height: 70px;
}
.cream button {
position: absolute;
transform: translateY(-50px);
right: 80px;
font-size: 10px;
width: 100px;
height: 50px;
}

.purple h3 {
margin: 0 100px 0 140px;
font-size: 10px;
}
.popcorn a  {
display: none;
}
.flower a {

font-size: 10px;
}
.flower button {
width: 60px;
height: 24px;
font-size: 10px;
}

}



/* часть2 */

@media (max-width: 576px) {
    .container {
        width: 90%;
        border: none;
    }
    .header {
        width: 500px;
      
    }
    .start-end button {
        width: 60px;
        height: 23px;
        border: 0;
    }
.hero {
    width: 500px;
    height: 305px;
}
.header a  {
  display: none;
}
.txt img {
  position: absolute;
  right: 900px;
  transform: translateY(-25px);
width: 190px;

}
.jim button {
    width: 90px;
    height: 25px;
   font-size: 9px;
   margin: -50px 0 -10px;
}
.min h1 {
font-size: 20px;
}
.min p {
font-size: 10px;
margin: -30px 0 20px ;
}
.min button {
font-size: 10px;
width: 90px;
height: 30px;
margin: 20px 0;
}
.active {
    margin: 0 -60px ;
}
.ab {
    margin: 60px 0 0 -90px;
}
.active img {
width: 200px;
height: 200px;
margin: 40px 0 0 60px;
}
.ab h2 {
font-size: 20px;
}
.cd {
    margin: -20px 0 20px -100px;
}
.cd img {
    margin: 20px 0 0 100px;
 width: 35px;
 height: 35px;
}
.cd h4 {
font-size: 10px;
padding-top: 20px;
}
.cd p {
font-size: 12px;
}
.ab p {
font-size: 10px;
}
.star span {
width: 60px;
font-size: 20px;
height: 60px;
}
.box h1 {
    padding-top: 30px;
 font-size: 15px;
}
.box p {
    margin: 30px 0;
font-size: 10px;
}
.box button {
    margin: 0 0 0 40px;
font-size: 10px;
height: 39px;
width: 110px;
}
.music {
    position: absolute;
    transform: translateY(-150px);
}
.box {
margin: 50px 0 ;
width: 500px;
height: 100px;
}
.ice {
width: 500px;
height: 50px;
}
.milka h1{
margin: -100px 0 50px 0;
 font-size: 25px;
}
.cream input {
 font-size: 12px;
margin: 0  0  0 -240px;
 width: 430px;
 height: 70px;
}
.cream button {
position: absolute;
transform: translateY(-50px);
right: 80px;
font-size: 10px;
width: 100px;
height: 50px;
}

.purple h3 {
margin: 0 100px 0 70px;
font-size: 10px;
}
.popcorn a  {
display: none;

}
.flower a {

font-size: 8px;
}
.flower button {
width: 40px;
height: 20px;
font-size: 8px;
}

}






/* часть3 */


@media (max-width: 400px) {
    .container {
        width: 90%;
        border: none;
    }
    .header {
        width: 370px;
      
    }
    .start-end button {
        width: 45px;
        height: 25px;
        border: 0;
        font-size: 10px;
    }
    .one h2 {
        font-size: 15px;
       
    }
.hero {
    width: 370px;
    height: 245px;
}
.header a  {
  display: none;
}
.txt img {
  position: absolute;
  right: 1030px;
  transform: translateY(-25px);
width: 150px;

}
.jim {
    padding-left: 40px;
}
.jim button {
    width: 90px;
    height: 20px;
   font-size: 9px;
   margin: -50px 0 -20px;
}
.min h1 {
font-size: 15px;
}
.min p {
font-size: 7px;
margin: -30px 0 20px ;
}
.min button {
font-size: 10px;
width: 90px;
height: 30px;
margin: 10px 0;
}
.active {
    margin: 0 -60px ;
}
.ab {
    margin: 60px 0 0 -120px;
}
.active img {
width: 150px;
height: 150px;
margin: 40px 0 0 60px;
}
.ab h2 {
font-size: 15px;
}
.cd {
    margin: -20px 0 20px -100px;
}
.cd img {
    margin: 20px -40px  0 100px;
 width: 35px;
 height: 35px;
}
.cd h4 {
font-size: 10px;
padding-top: 20px;
}
.cd p {
font-size: 7px;
}
.ab p {
font-size: 7px;
}
.star span {
width: 60px;
font-size: 20px;
height: 60px;
}
.box h1 {
    padding-top: 30px;
 font-size: 15px;
}
.box p {
    margin: 30px 0;
font-size: 10px;
}
.box button {
    margin: 0 0 0 40px;
font-size: 10px;
height: 39px;
width: 110px;
}
.music {
    position: absolute;
    transform: translateY(-180px);
}
.box {
margin: 50px 0 ;
width: 370px;
height: 50px;
}
.ice {
width: 370px;
height: 50px;
}
.music button {
    width: 90px;
    height: 25px;
}
.milka h1{
margin: -100px 0 50px 0;
/* position: absolute; */
/* transform: translateY(-50px); */
 font-size: 20px;
}
.cream input {
 font-size: 10px;
margin: 0  0  0 -240px;
 width: 270px;
 height: 60px;
}
.cream button {
position: absolute;
transform: translateY(-50px);
right: 60px;
font-size: 10px;
width: 80px;
height: 40px;
}

.purple h3 {
margin: 0 50px 0 20px;
font-size: 10px;
}
.popcorn a  {
display: none;

}
.flower a {

font-size: 8px;
}
.flower button {
width: 30px;
height: 20px;
font-size: 6px;
}

}
@media (max-width: 376px) {
    .container {
        width: 90%;
        border: none;
    }
    .header {
        width: 340px;
        border-radius: 20px 20px 0 0;
      
    }
    .start-end button {
        width: 45px;
        height: 25px;
        border: 0;
        font-size: 10px;
    }
    .one h2 {
        font-size: 15px;
       
    }
.hero {
    width: 340px;
    height: 201px;
}
.header a  {
  display: none;
}
.txt img {
  position: absolute;
  right: 1060px;
  transform: translateY(-25px);
width: 120px;

}
.jim {
    padding-left: 40px;
}
.jim button {
    width: 70px;
    height: 20px;
   font-size: 6px;
   margin: -50px 0 -20px;
}
.min h1 {
font-size: 10px;
}
.min p {
font-size: 6px;
margin: -30px 0 10px ;
}
.min button {
font-size: 7px;
width: 80px;
height: 20px;
margin: 10px 0;
}
.active {
    margin: 0 -60px ;
}
.ab {
    margin: 40px 0 0 -120px;
}
.active img {
width: 130px;
height: 130px;
margin: 40px 0 0 60px;
}
.ab h2 {

font-size: 14px;
}
.cd {
    margin: -20px 0 20px -100px;
}
.cd img {
    margin: 20px -40px  0 100px;
 width: 30px;
 height: 30px;
}
.cd h4 {
font-size: 10px;
padding-top: 20px;
}
.cd p {
font-size: 7px;
}
.ab p {
    margin: -10px  0 3px 0;
font-size: 7px;
}
.star span {
width: 60px;
font-size: 20px;
height: 60px;
}
.box h1 {
    padding-top: 30px;
 font-size: 15px;
}
.box p {
    margin: 30px 0;
font-size: 10px;
}
.box button {
    margin: 0 0 0 40px;
font-size: 10px;
height: 39px;
width: 110px;
}
.music {
    position: absolute;
    transform: translateY(-190px);
}
.box {
margin: 50px 0 ;
width: 340px;
height: 30px;
border-radius: 20px;
}
.ice {
width: 340px;
height: 50px;
}
.music button {
    width: 90px;
    height: 25px;
}
.milka h1{
margin: -100px 0 50px 0;
/* position: absolute; */
/* transform: translateY(-50px); */
 font-size: 20px;
}
.cream input {
 font-size: 10px;
margin: 0  0  0 -220px;
 width: 240px;
 height: 60px;
}

.cream button {
position: absolute;
transform: translateY(-50px);
right: 50px;
font-size: 10px;
width: 80px;
height: 40px;
}

.purple h3 {

font-size: 8px;
}
.popcorn a  {
display: none;

}
.flower {
    margin: 3px 40px;
}
.flower a {

font-size: 7px;
}
.flower button {
width: 30px;
height: 20px;
font-size: 6px;
}

}
@media (max-width: 320px) {
    .container {
        width: 90%;
        border: none;
    }
    .header {
        width: 300px;
        border-radius: 20px 20px 0 0;
      
    }
    .start-end button {
        width: 45px;
        height: 25px;
        border: 0;
        font-size: 10px;
    }
    .one h2 {
        font-size: 15px;
       
    }
.hero {
    width: 300px;
    height: 201px;
}
.header a  {
  display: none;
}
.txt img {
  position: absolute;
  right: 1095px;
  transform: translateY(-25px);
width: 120px;

}
.jim {
    padding-left: 40px;
}
.jim button {
    width: 70px;
    height: 20px;
   font-size: 6px;
   margin: -50px 0 -20px;
}
.min h1 {
font-size: 10px;
}
.min p {
font-size: 6px;
margin: -30px 0 10px ;
}
.min button {
font-size: 7px;
width: 80px;
height: 20px;
margin: 10px 0;
}
.active {
    margin: 0 -60px ;
}
.ab {
    margin: 40px 0 0 -120px;
}
.active img {
width: 120px;
height: 120px;
margin: 40px 0 0 70px;
}
.ab h2 {

font-size: 10px;
}
.cd {
    margin: -20px 0 20px -100px;
}
.cd img {
    margin: 20px -40px  0 100px;
 width: 30px;
 height: 30px;
}
.cd h4 {
font-size: 10px;
padding-top: 20px;
}
.cd p {
    padding-top: 10px ;
font-size: 7px;
}
.ab p {
    margin: -10px  0 3px 0;
font-size: 5px;
}
.star span {
width: 60px;
font-size: 20px;
height: 60px;
}
.box h1 {
    padding-top: 30px;
 font-size: 15px;
}
.box p {
    margin: 30px 0;
font-size: 10px;
}
.box button {
    margin: 0 0 0 40px;
font-size: 10px;
height: 39px;
width: 110px;
}
.music {
    position: absolute;
    transform: translateY(-190px);
}
.box {
margin: 50px 0 ;
width: 290px;
height: 30px;
border-radius: 20px;
}
.ice {
width: 300px;
height: 50px;
}
.music button {
    width: 90px;
    height: 15px;
}
.milka h1{
margin: -100px 0 50px 0;
/* position: absolute; */
/* transform: translateY(-50px); */
 font-size: 15px;
}
.cream input {
 font-size: 7px;
 padding-left: 20px;
margin: -100px  0  0 -220px;
 width: 200px;
 height: 40px;
}

.cream button {
position: absolute;
transform: translateY(-65px);
right: 40px;
font-size: 10px;
width: 60px;
height: 30px;
}

.purple h3 {

font-size: 8px;
}
.popcorn a  {
display: none;

}
.flower {
    margin: 3px 20px;
}
.flower a {

font-size: 7px;
}
.flower button {
width: 30px;
height: 20px;
font-size: 6px;
}

}